@{
    ViewBag.Title = "Home Page";
}

@section Scripts
{
    <script src="@Url.Content("~/Scripts/objet/objetRequette.js")"></script>
    <script src="@Url.Content("~/Scripts/mustache.js")"></script>
}

<div class="row">
    <div id="menu" class="col-md-3 show">
        <h4>Catégorie</h4>
        <ul id="categorieMenu" class="nav nav-pills nav-stacked"></ul>
    </div>

    <div id="gestion" class="col-md-3 hide">
        <h4>Gestion</h4>
        <ul class="nav nav-pills nav-stacked">
            <li id="liGestionFilm" class="active"><a class="menuGestionFilm" href="#">Gestion d'objet</a></li>
            <li id="liGestionMembre"><a class="menuGestionMembre" href="#">Gestion de membre</a></li>
        </ul>
    </div>

    <div id="main" class="col-md-9 show">
        <div class="hide" id="templateCard">
            <div class="col-md-3 text-center">
                <div class="card" style="width: 15rem;  margin:15px;">
                    <p><a href="@Url.Content("~/pieces/{{piece}}")" title="telecharger la piece jointe"><img class="card-img-top float-left" src="~/images/{{Image}}" alt="Card image cap" width=100 height=140></a></p>
                    <h5 class="card-title">
                        {{Nom}}
                    </h5>
                    <div class="card-body">
                        <p class="card-text text-left">Description: {{Description}}</p>
                        <p class="card-text text-left">Vendeur: <a href="#" onclick="viewVendeur('{{IdVendeur}}')">{{IdVendeur}}</a></p>
                        <p class="card-text text-left">Document:<a href="@Url.Content("~/pieces/{{piece}}")" title="telecharger la piece jointe">Telechager</a></p>
                        <p class="card-text text-left">Prix Depart: {{PrixDepart}}$</p>
                        <p class="card-text text-left">Prix Actuel: {{PrixActuel}}$</p>
                        <p class="card-text text-left">Fin: {{Jour}}</p>
                        @if (User.Identity.IsAuthenticated) {
                            <a class="btn btn-primary" onclick="encherir('{{IdEnchere}}')">Encherir</a>
                        }
                        <!--a href="#myModal" class="btn btn-primary" data-toggle="modal" data-book-id="my_id_value">Encherir</!--a>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="container" id="objetList"></div>
    </div>
</div>

@section MyOtherJavascript {
    <script type="text/javascript">
        function encherir(id) {
                window.location.href = "/Enchere/UpdateEnchere?id=" + id;
        }

        function viewVendeur(id) {
            window.location.href = "/Home/ViewVendeur?id=" + id;

        }
    </script>
}