
@{
    ViewBag.Title = "PageRapports";
}

<h2>Page Rapports</h2>


<p><a href="../Evaluation/PrintEvaluaionMembre">Rapport sur la cote des membres</a></p>
<br />
<p><a href="../Evaluation/PrintSyntheseVenteAnnuel">Rapport sur la synthese de vente annuelle</a></p>