
@using Enchere.Ressource
@{
    ViewBag.Title = "PageRapports";
}

<h2>@ResourceView.PageRapports</h2>


<p><a href="../Evaluation/PrintEvaluaionMembre">@ResourceView.Rapportsurlacotedesmembres</a></p>
<br />
<p><a href="../Evaluation/PrintSyntheseVenteAnnuel">@ResourceView.Rapportsursynthesevente</a></p>