USE [master]
GO
/****** Object:  Database [aspnet-Enchere-20180503022329]    Script Date: 2018-05-12 11:36:09 AM ******/
CREATE DATABASE [aspnet-Enchere-20180503022329]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'encheres', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS01\MSSQL\DATA\encheres.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'encheres_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS01\MSSQL\DATA\encheres_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [aspnet-Enchere-20180503022329].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [aspnet-Enchere-20180503022329]
GO
USE [aspnet-Enchere-20180503022329]
GO
/****** Object:  Table [dbo].[Categorie]    Script Date: 2018-05-12 11:36:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorie](
	[Id] [nvarchar](3) NOT NULL,
	[Nom] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Commission]    Script Date: 2018-05-12 11:36:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Commission](
	[Id] [int] NOT NULL,
	[Commission] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enchere]    Script Date: 2018-05-12 11:36:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enchere](
	[Id] [nvarchar](20) NOT NULL,
	[IdObjet] [nvarchar](15) NOT NULL,
	[IdVendeur] [nvarchar](10) NOT NULL,
	[IdAcheteur] [nvarchar](10) NOT NULL,
	[PrixAchat] [money] NOT NULL,
	[PasDePrix] [decimal](10, 2) NOT NULL,
	[DateDepart] [date] NOT NULL,
	[DateFin] [date] NOT NULL,
	[Etat] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evaluation]    Script Date: 2018-05-12 11:36:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evaluation](
	[Id] [nvarchar](10) NOT NULL,
	[Date] [date] NOT NULL,
	[Cote] [int] NOT NULL,
	[Commentaire] [nvarchar](max) NOT NULL,
	[IdMembreDe] [nvarchar](10) NOT NULL,
	[IdMembreA] [nvarchar](10) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Membre]    Script Date: 2018-05-12 11:36:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Membre](
	[Numero] [nvarchar](10) NOT NULL,
	[Civilite] [nvarchar](10) NULL,
	[Nom] [nvarchar](50) NULL,
	[Prenom] [nvarchar](50) NULL,
	[Langage] [nvarchar](10) NULL,
	[Telephone] [nvarchar](100) NULL,
	[Adresse] [nvarchar](250) NULL,
	[Courriel] [nvarchar](100) NOT NULL,
	[DateInscri] [date] NULL,
	[Cote] [int] NULL,
	[MDP] [text] NOT NULL,
 CONSTRAINT [pk_util] PRIMARY KEY CLUSTERED 
(
	[Numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Courriel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Objet]    Script Date: 2018-05-12 11:36:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Objet](
	[Id] [nvarchar](15) NOT NULL,
	[Nom] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[DateInscri] [date] NOT NULL,
	[PrixDepart] [decimal](10, 2) NOT NULL,
	[IdCategorie] [nvarchar](10) NOT NULL,
	[IdMembre] [nvarchar](10) NOT NULL,
	[Piece] [nvarchar](50) NOT NULL,
	[Photo] [nvarchar](50) NOT NULL,
	[Nouveau] [bit] NOT NULL,
	[EnVente] [bit] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[GetListeMembres]    Script Date: 2018-05-12 11:36:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetListeMembres]
AS
SELECT * FROM Membre ORDER BY Courriel
GO
USE [master]
GO
