
@{
    ViewBag.Title = "MesObjetsEnVente";
}

<h2>Mes Objets En Vente</h2>
<br /><br />
<form action="/Objet/MesObjetsEnVente" method="post">
    <label>Saisissez votre adresse courriel: </label>
    <br />
    <br />
    <input type="text" name="monEmail" />
    <br />
    <br />
    <input type="submit" value="Mes objets en vente" />
</form>
