
@{
    ViewBag.Title = "MesObjetsEnVente";
}

<h2>Mes Objets En Vente</h2>
<br />@ViewBag.Error<br />
<form method="post" action="MesObjetsEnVente">
    <label>Saisissez votre adresse courriel: </label>
    <br />
    <br />
    <input type="text" name="monEmail" />
    <br />
    <br />
    <input type="submit" value="Mes objets en vente" />
</form>
