
@{
    ViewBag.Title = "PageCommission";
}

<h2>Page Commission</h2>
<br />
<hr />
<br />
<p><b>Commission actuel:</b> @ViewBag.Commission %</p>
<br />
<p><b>Changer commission:</b></p>
<br />
<form action="/Home/ModifierCommission" method="post">
    @{
        List<SelectListItem> lesTauxCommissions = new List<SelectListItem>();
        for (int i = 0; i < 50; i += 10)
        {
            lesTauxCommissions.Add(new SelectListItem { Text = i.ToString() + " %", Value = i.ToString() });
        }

        @Html.DropDownList("Taux", lesTauxCommissions)
    }
    <input type="submit" value="Changer" />
    
</form>